$primaryTrans: transparent;
$primaryWhite: #ffffff;
$primaryBlack: #000000;
$primaryGrey: #eee;
$primaryColor: #04181A;
$loaderColor: #521751;
$primarySuccess: #3a5514;
$lighterSuccess: #557429;
$primaryDanger: #944317;
$primaryAsh: #484E51;
$primaryBlur: #252729;
$secondaryBlur: #191c1d;
$card-button: #97281B;